{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min-1.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
      <h3 class="alert alert-info text-center">Crud Operations
          
<a href="{% url 'home'%}" class="btn btn-danger">Home</a>

<a href="{% url 'login'%}" class="btn btn-success">Login</a>
      </h3>

      {% block  content%}

      {% endblock content%}



    <script src=" {% static 'js/jquery-3.4.0.min.js'%} "></script>
    <script src=" {% static 'js/popper.min.js'%} "></script>
    <script src=" {% static 'js/bootstrap.min.js'%} "></script>
</body>
</html>