<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h3>Profile page</h3>
    <h4> Welcom To {{name}}</h4>
    {% if messages %}
    {% for message in messages %}
     <h4 {% if message.tags %} class="{{message.tags}}  text-success"  {% endif%}> {{message}}</h4>
    {% endfor %}
   {% endif %}

   <a href="{% url 'logout'%}"> Logout</a>
   <a href="{% url 'changepass'%}">Changepassword</a>
</body>
</html>